In [1]:
import pandas as pd
from pathlib import Path

path = Path.cwd() / "movies"
df_movies_metadata = pd.read_csv(path / "movies_metadata.csv", low_memory=False)
df_movies_ratings = pd.read_csv(path / "ratings.csv", low_memory=False)

In [6]:
df_movies_metadata.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
24388,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",http://www.theasylum.cc/product.php?id=251,275318,tt3343136,en,Sleeping Beauty,When a young Prince and his trusted aid learn ...,...,2014-05-13,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Blood will run for a single kiss.,Sleeping Beauty,False,4.7,28.0
15713,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,55648,tt0011960,de,Die Bergkatze,A charismatic lieutenant newly assigned to a r...,...,1921-04-14,0.0,79.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Wildcat,False,6.3,3.0
5915,False,NaN,3000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,29463,tt0089444,en,Krush Groove,"Russell Walker is a young, successful manager ...",...,1985-10-25,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's chillin'!,Krush Groove,False,7.0,12.0
25096,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,158967,tt1608368,en,House Hunting,Two families go to an open house and can't leave,...,2013-03-05,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Family is hell,House Hunting,False,4.6,16.0
40863,False,"{'id': 25542, 'name': 'An American Girl Collec...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.americangirl.com/movie/molly/about.php,37453,tt0828151,en,Molly: An American Girl on the Home Front,Molly is a girl living in the year 1944 and WW...,...,2006-11-26,0.0,85.0,[],Released,The world is at war and one girl's hope and co...,Molly: An American Girl on the Home Front,False,2.0,2.0

In [7]:
df_movies_ratings.sample(5)

          userId  movieId  rating   timestamp
9325369    96310     4553     4.0  1356780513
22930088  238141      350     3.0   956598135
24863166  258506   162598     4.0  1501788880
18488565  191860    55290     3.5  1460235125
25046840  260551    95875     2.5  1493847191